
<script src="/node_modules/axios/dist/axios.min.js"></script>
<script src="/node_modulesjquery/dist/jquery.js"></script>
<script src="/node_modulesbootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
