
<script src="/node_modules/axios/dist/axios.min.js"></script>
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
<!-- jquery/dist/jquery.js -->
<!-- bootstrap/dist/js/bootstrap.min.js -->
<!-- /axios/dist/axios.min.js -->